{% extends 'base.html' %}

{% block content %}

<div class="container">
	
	
<h3>Repos for: {{ user_name }}</h3>
{% for repo in repo_list %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="/projects/{{repo.id}}">
		{{ repo.name }}
	</a></h3>
  </div>
  <div class="panel-body">
    <h5>Description : {{ repo.descript|truncatechars:100|safe }}</h5>
<h5>Status : {{ repo.status }}</h5>
<h5>Version : {{ repo.version }}</h5>
  </div>
</div>

{% endfor %}
</div>
{% endblock %}