{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="container">
	<div class="row">

		{% load url from future %}
		<script type="text/javascript" src="{{ STATIC_URL }}/tiny_mce/tiny_mce.js"></script>

		<div class="col-sm-3 col-sm-offset-1 well">
			<ul class="subnavilist">
				<li>
					<a href="{% url 'messages_inbox' %} ">&raquo;&nbsp;{% trans "Inbox" %}</a>
				</li>
				<li>
					<a href="{% url 'messages_outbox' %} ">&raquo;&nbsp;{% trans "Sent Messages" %}</a>
				</li>
				<li>
					<a href="{% url 'messages_compose' %} ">&raquo;&nbsp;{% trans "New Message" %}</a>
				</li>
				<li>
					<a href="{% url 'messages_trash' %} ">&raquo;&nbsp;{% trans "Trash" %}</a>
				</li>
			</ul>
		</div>

		<div class="col-sm-8">
			<!-- block content -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{% trans "Sent Messages" %}</h3>
				</div>
				<div class="panel-body">
					<h1>{% trans "Deleted Messages" %}</h1>
					{% if message_list %}
					<table class="messages">
						<thead>
							<tr>
								<th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Date" %}</th><th>{% trans "Action" %}</th>
							</tr>
						</thead>
						<tbody>
							{% for message in message_list %}
							<tr>
								<td>{{ message.sender }}</td>
								<td> {{ message.subject }} </td>
								<td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
								<td><a href="{% url 'messages_undelete' message.id %}">{% trans "undelete" %}</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					{% else %}
					<p>
						{% trans "No messages." %}
					</p>
					{% endif %}
					<br />
					<p>
						{% trans "Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage." %}
					</p>
				</div>
			</div>

			<!-- End block -->
		</div>

	</div>

</div>

{% endblock %}