{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1 class="title">About CoderzHub</h1>
		<br>
		<br>
		<br>
		<p class="body">
			Welcome to CoderzHub, a site made for programmers by programmers. We are dedicated to providing a way for every professional, student, and hobbyist
			to link with like-minded people and do what they love to do: code.
		</p>
		<br>
		<br>
		<p class="body">
			We invite you to connect and create!
		</p>
		<br>

		<br>
		<br>
	</div>

</div>
{% endblock %}