{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1 class="title">About CoderzHub</h1>
		<br>
		<br>
		<br>
		<p class="body">
			Welcome to CoderzHub, a site made for programmers by programmers. We are dedicated to providing a way for every professional, student, and hobbyist
			to link with like-minded people and do what they love to do: code.
		</p>
		<br>
		<p class="body">
			CoderzHub was created during Fresno, California's 5th annual 59 Days of Code competition. Originally meant to be used as a tool for computer science majors to connect with each other
			and form online study groups, the idea evolved into a social network for all programmers. We encourage users to be inventive, ask and answer questions about code or programming langauges, and to collaborate on projects.
		</p>
		<br>
		<p class="body">
			We invite you to connect and create!
		</p>
		<br>
		<p class="signature">
			Signed,
			<br>
			Team Robust Turtles
		</p>
		<br>
		<br>
	</div>

</div>
{% endblock %}