<!DOCTYPE html>
<html>
	<head>
		<title>CoderzHub</title>
		<script src="/static/jquery-1.11.1.min.js"></script>
		<link href="/static/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<script src="/static/bootstrap-3.1.1/js/bootstrap.min.js"></script>

	</head>

	<body >
		{% include 'top_nav.html' %}
		{% block content %}
		{% endblock %}
		
		{% block sidebar %}
		{% endblock %}
		<footer class="footer" style="clear:both;">
			<div class="container" align="middle" >
				<p>
					&nbsp;© Copyright 2014 Coderzhub.
					<br />
					Software Version: 1.0
				</p>
			</div>
		</footer>
	</body>
</html>
