{% extends 'base.html' %}

{% block content %}

<div align="right" class="container">
	<a href="/projects/{{project.id}}" class="btn btn-default">Project Profile</a>
	<a href="/projects/{{project.id}}/create/topic/" class="btn btn-default">Create Topic</a>
</div>
<br>

{% autoescape off %}
{% for t in topics %}

<div class="container">

	<div class="pull-left">

		<div class="upvote">
			<a href="#" class="upvote glyphicon glyphicon-arrow-up"></a>
		</div>
		<div class="downvote">
			<a  href="#" class="downvote glyphicon glyphicon-arrow-down"></a>
		</div>
	</div>
	<div class="panel panel-default" >
		<div class="panel-heading">
			<h3 class="panel-title" id="panel-title">{{t.topic}}<span class="pull-right label label-info" id="votes">{{t.votes}}</span>
			<input type="hidden" value="{{t.id}}" name="thread_id" id="thread_id" />
			</h3>
		</div>
		<div class="panel-body">
			{{t.content}}
			<hr>
			<a href="/projects/{{t.id}}/discussion" class="label label-info">Comments</a>

			{% if tags %}
			{% for id, tags in tags.items %}
			{% if id == t.id %}
			{% for tag in tags %}
			<a class="pull-right label label-info" href="/search/domain/{{tag.tag}}">{{tag.tag}}</a> &nbsp;&nbsp;
			{% endfor %}
			{%endif%}
			{% endfor %}
			{%endif%}

		</div>
	</div>
</div>

{% endfor %}
{% endautoescape %}

<script >
	function vote(data) {
		url = '/projects/vote/';
		$.ajax({
			url : url,
			type : 'post',
			data : data,
			success : function(data) {

			},
			failure : function(data) {

			}
		});
	}


	$(".upvote").on("click", function() {
		voting = $(this).parent().parent().find('#votes');
		id = $(this).parent().parent().find('#panel-title').children('input:hidden').val();
		votes = parseInt(voting.text()) + 1;
		data = {
			'id' : id,
			'vote' : 'upvote'
		};
		vote(data);
		return voting.text(votes);

	});

	$(".downvote").on("click", function() {
		voting = $(this).parent().parent().find('#votes');
		id = $(this).parent().parent().find('#panel-title').children('input:hidden').val();
		votes = parseInt(voting.text()) - 1;
		data = {
			'id' : id,
			'vote' : 'downvote'
		};
		vote(data);
		return voting.text(votes);

	});

</script>

{% endblock %}

